@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
    --background-base: #121212;
    --background-press: #000;
    --background-active-scroll: #070707;
    --background-highlight: #1a1a1a;
    --background-card: #181818;
    --background-hover: #242424;
    --background-model: #282828;
    --background-model-hover-items: #3e3e3e;
    --background-cardhover: #2a2a2a;
    --text-base: #b3b3b3;
    --text-highlight: #fff;
    --color-primary:#1db954;
}

body {
    background-color: var(--background-base);
    font-family: 'Inter' sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.main_content::-webkit-scrollbar {
    width: 8px;
}

.main_content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.38);
}

.main_content::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.7);
}

@keyframes lyric-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes lyric-down {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes spinImg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
